# Monitorização de Parâmetros Ambientais da Cidade de Lisboa

### Obter dados do Lisboa Aberta extraídos 

Manuel Banza - March 2021

In [2]:
import requests
from pandas.io.json import json_normalize
import pandas as pd

In [16]:
# Ligar ao JSON

url = 'http://opendata-cml.qart.pt:8080/lastmeasurements'
df = pd.read_json(url, dtype = {"date": int})
df['date'] = df['date'].astype(str)
df['date_modified'] = df['date'].map(lambda x: x[:-6])
df['date_modified'] = pd.to_datetime(df['date_modified'], format='%Y%m%d%H%M')
df.head()

,id,date,dateStandard,value,unit,address,coordinates,date_modified
0,QA00NO0001,202103311800000000,UTC,31.0,µg/m3,CALÇADA DA AJUDA,"{'x': 0, 'y': 0, 'z': 0, 'lat': 38.7022, 'lng'...",2021-03-31 18:00:00
1,QA0NO20001,202103311800000000,UTC,159.0,µg/m3,CALÇADA DA AJUDA,"{'x': 0, 'y': 0, 'z': 0, 'lat': 38.7022, 'lng'...",2021-03-31 18:00:00
2,QA00O30001,202103311800000000,UTC,158.0,µg/m3,CALÇADA DA AJUDA,"{'x': 0, 'y': 0, 'z': 0, 'lat': 38.7022, 'lng'...",2021-03-31 18:00:00
3,QAPM250001,202103310000000000,UTC,14.0,µg/m3,CALÇADA DA AJUDA,"{'x': 0, 'y': 0, 'z': 0, 'lat': 38.7022, 'lng'...",2021-03-31 00:00:00
4,QAPM100001,202103310000000000,UTC,37.0,µg/m3,CALÇADA DA AJUDA,"{'x': 0, 'y': 0, 'z': 0, 'lat': 38.7022, 'lng'...",2021-03-31 00:00:00

In [17]:
df.id.value_counts()

ME00VD0003    1
QA0NO20020    1
QAPM250012    1
ME00HR0020    1
QA0NO20060    1
             ..
ME00PA0034    1
RULAEQ0002    1
RULAEQ0034    1
METEMP0012    1
ME00HR0007    1
Name: id, Length: 268, dtype: int64

In [ ]:
# Criar coluna condicional se contiver valor, contains:
df.loc[df['id'].str.contains('loja', na=False), 'Acronimo'] = ''

In [ ]:
df['Acronimo_Extenso'] = np.where(df.id.str[:2] == 'ME', 'Meteorologia / Estado do Tempo', 
            np.where(df.id.str[:2] == 'yy', 2, 
            np.where(df.id.str[:1] == 'z', 3, -1)))